.grid {
    display:grid;
    gap: 1rem;
    line-height: inherit;
    border: 0 solid;
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    margin: 2.25rem;
    // padding: 5px;    

    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media (min-width: 480px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }        
    @media (min-width: 769px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }        
    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }        
}

// cada una de les 'card' dels monuments
.grid-monument {
    background-color:$back-color-category-monument;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    border-radius: .5rem;
    position: relative;
    display: block;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    text-align: left;
    padding: 5px;
    text-decoration-line: none;
    color:$font-color;

    display:flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;

    &-detail {
        margin: 1rem;
        text-align: center;
    }

    &-title {
        margin: 1rem;
        text-align: center;
        font-weight: bold;
    }
        
    &-description {
        padding: 5px;
        text-align: justify;
    }
    &-img {
        align-self: center;
    }
    
    &:hover {
        @media (min-width: $mqMinWidth) {
            transition: transform 0.5s;
            transform: scale(1.01);
            background-color: $back-color-category-monument-hover;
        }  
    }  
}