.imatges_home {
    // overflow: auto;

    //  transformacions que fem en les imatges de la pàgina inicial al passar per sobre
    .grid {
        img {
            // per defecte la imatge és un rombe
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            // per defecte si no li indiquem res quan ens posem sobre es transforma amb un triangle
            &:hover {
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            }
        }

    // estil per l'esglèssia
    .creu {
        &:hover{
            // creu
            clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
        }

    }
    // estil per la imatge del 'pont'
    .pont {
        &:hover{
            // creu
            clip-path: polygon(0% 100%, 20% 20%, 50% 0%, 80% 25%, 100% 100%);
        }
    }
    
    .rodo {
        &:hover{
            // rodó
            clip-path: circle(50% at 50% 50%);
        }
    }
    
    }
}

//  MIRAR
// https://css-tricks.com/random-numbers-css/
