section.links {
  height: calc(100% - 4rem);

}


.bibliography {
    background: rgba(black, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    // overflow: auto;

    height: 90%;
    margin: auto;
    width: 80%;    
    @media (min-width: 960px) {
        padding: 3rem;
        width: 50%;    
    }        
    p {
      margin:5px;
    }
    a {
      text-decoration: none;
      color:var(--color-font);

      background-image: url(../images/links/external-link.svg);
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 0.85em;
      padding-right: 1em;
  
      font-size: .9rem;    
    }    
    a:hover {
      font-weight: 700;
      text-decoration:underline;
    }    
}

.bibliography ul {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    list-style:first-letter;
    font-size: 0.8rem;
  
    li {
      display: block;
    }
  
    // selector nonmés per la pàgina d'enllaços
    h3 {
      text-align: left;
    }
  }

  .link-detail {
    background-color: red;
  }