
@mixin box-navigation() {
    box-sizing: border-box;
    width: 100%;
}

// menú
.navigation {
    @include box-navigation();
    background: $backcolor-menu;
    box-shadow: 0 0 5px 0 rgba($font-color-dark, .5);
    color:--color-font;
    &__list {
        @include box-navigation();
        list-style: none;
        justify-content: right;
        margin: 0;
        padding: 16px;
        // display: none;
        cursor: pointer;
        @media (min-width: $mqMinWidth) {
            display: flex;
            flex-wrap: nowrap;
        }        
    }

    &__link {
        display: block;
        color:--color-font;
        text-decoration: none;
        margin: 0 15px;
        padding: 10px;
        font-size: 20px;
        @media (min-width: $mqMinWidth) {
            font-size: 15px;
        }        
    }
    @media (min-width: $mqMinWidth) {
        display: flex;
        flex-wrap: nowrap;
    }        
  
}  

nav ul li {
    text-align: center;
}

.icona {
    // en mode mobile s'amaga
    display: none;
    @media (min-width: $mqMinWidth) {
        display: inline;
    }        
}

nav ul li a:hover {
    border: none;
    color: $font-menu-active-color;
    // text-decoration: underline;
    @media (min-width: $mqMinWidth) {
        // border: 1px solid white;
        background-color: white;
        color:black;
        background-color: --color-back;

        color:--color-font;
        text-decoration: none;
    }        

}
