.presentation {
    @include flex-column();
    align-items: center;

    background: rgba(black, 0.05);
    border-radius: 10px;
    height: auto;
    margin: auto;
    overflow: auto;
    text-align: justify;
    font-size: .9rem;
    padding: 1rem;
    width: 80%;    
    @media (min-width: 960px) {
        padding: 3rem;
        width: 50%;    
    }        
    @media (min-width: 1020px) {
        padding: 3rem;
        width: 50%;    
    }        
}



.presentation-text { padding: 1rem; }

.presentation-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.presentation_cards {
    @include flex-row();
    flex-wrap: wrap;
    position: relative;
    .presentation-img  {
        margin: 5px;
        @include flex-row();
        
        justify-content: center;
        .presentation-imatge {
            width: 50%;
            border-radius: 15px;
            box-shadow: 0px 3px 5px rgba(15,15,15, .5);
        }
        @media (min-width: $mqMinWidth) {
            height: auto;
            // mostra en blanc i negre
            // filter: saturate(0);
            filter: grayscale(100%);
            &:hover {
                // mostra en el color que és
                // filter: saturate(01);
                filter: grayscale(0%);
                width: 150%;
            }
        }         
    }
    
}
.presentation-card__monument {
    border-top: 1px solid gray;
    display:inline-block;
    padding-top: 10px;
    margin: 15px;
    place-items: center;
}