$base-color:black;
$title-color: #ffffff;
$font-color: #0a0a0a;
$backcolor-menu: rgb(160, 152, 152);
$font-color-dark: $font-color;
$font-color-footer: red;
$back-color-footer: rgb(231, 227, 227);

// $color-menu: white;
$header-font-color: $font-color;
$backcolor-home: $back-color-footer;
$color-menu: black;
$title-color-font: rgb(114, 114, 238);
$footer-color-font: $color-menu;
$backcolor-footer: $back-color-footer;
$back-color-menu: $backcolor-menu;//black;
$font-menu-color: #0a0a0a;
$font-menu-active-color: $color-menu;

$back-color-category-monument: rgb(245, 240, 240);
$back-color-category-monument-hover: rgb(212, 204, 204);


$mqMinWidth: 480px;



