<header>
    <div class="logo">
      <a href="index.html">
        <picture>
          <h1>

            REVISAR !!!!
          </h1>
          <source srcset= "images/header/LogoAjuntNegre.webp?as=png&width=128, images/header/LogoAjuntNegre.webp?as=png&width=256 2x ">

          <img src="images/header/LogoAjuntNegre.webp" class="logo" alt="Logo de Constantí">
        </picture>
      </a>    
    </div>
    <div class="title">
      Constantí
    </div>
    <!-- menú -->
    <include src="./components/navigation.html"></include>    
</header>