<div class="imatges_home">
    <div class="grid">
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img class="rodo" src="./images/gallery/centcelles.jpg" alt="Mausoleu de Centcelles" width="240px">
                </figure>
            </div>
        </div>
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img class="pont" src="./images/gallery/Pont_de_les_Caixes_(Constantí)_-_3.jpg" alt="Pont de les caixes" width="240px">
                </figure>
            </div>
        </div>
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img class="creu" src="./images/gallery/EsglesiaConstanti.jpg" alt="Esglèssia de Constantí"  height="160px">
                </figure>
            </div>
        </div>
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img src="./images/gallery/640px-Mas_dels_Frares_03.jfif" alt="Mas dels Frares" width="240px">
                </figure>
            </div>
        </div>
    </div>
</div>
