<div class="imatges_home">
    <div class="grid">
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <source srcset= "
                        images/gallery/centcelles_240w.webp?as=png&width=128,
                        images/gallery/centcelles_480w.webp?as=png 2x ">
                    <img class="rodo" 
                    src="./images/gallery/centcelles_240w.webp" 
                    alt="Mausoleu de Centcelles" width="240px">
                </figure>
            </div>
        </div>
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img class="pont" 
                    src="./images/gallery/Pont_de_les_Caixes_240w.webp" 
                    alt="Pont de les caixes" width="240px">
                </figure>
            </div>
        </div>
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img class="creu" src="./images/gallery/EsglesiaConstanti_240w.webp" alt="Esglèssia de Constantí"  height="160px">
                </figure>
            </div>
        </div>

        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img src="./images/gallery/Mas_dels_Frares_03_240w.webp" alt="Mas dels Frares" width="240px">
                </figure>
            </div>
        </div>

        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img src="./images/gallery/Constanti_Moli_Reus_IPA_240w.webp" alt="Molí de Reus" width="240px">

                </figure>
            </div>
        </div>
        <div class="grid-monument-detail">
            <div class="grid-monument-img">
                <figure>
                    <img 
                    src="./images/gallery/Sindicat_Agricola_IPA_240w.webp" alt="Sindicat Agrícola" width="240px">

                </figure>
            </div>
        </div>

    </div>
</div>
