<nav>
    
    <ul class="navigation__list">
      <li>
        <a class="navigation__link" href="./index.html">
          <i class="icona fa-solid fa-house"></i>
          Inici
        </a>
      </li>
      <li>
        <a class="navigation__link" href="./presentation.html">
          <i class="icona fa-regular fa-note-sticky"></i>
          Presentació
        </a>
      </li>
      <li>
        <a class="navigation__link" href="./category.html">
          <i class="icona fa-solid fa-archway"></i>
          Monuments destacables
        </a>
      </li>
      <li>
        <a class="navigation__link" href="./links.html">
          <i class="icona fa-solid fa-arrow-up-right-from-square"></i>
          Enllaços
        </a>
      </li>
    </ul>
    </nav>
